body{
    background-color: rgb(112, 56, 185);
    color: white;
    font-family: Tahoma;
    text-align: center;
}


label{
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}


input, button{
    color: white;
    background-color: rgb(54, 45, 58);
    font-size: 20px;
    border-radius: 10px;
}